---
import Container from "@components/container.astro";
import Casestudies from "@components/casestudies.astro";
import Servizi from "../components/servizi.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
const items = [
  {
    name: "Luca M.",
    title: "Marketing Manager",
    company: "dpstudio.ch",
    image:
      "https://media.licdn.com/dms/image/v2/C4D03AQGXDxXmkZuKWQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1564573830650?e=1729728000&v=beta&t=ZSnItxKBA8cE6nW52387Uo2z94dTGiE0uU6HrHGd93Y",
    body: "Il team di Northsouth è una ventata di freschezza nel mondo della tech svizzera. Un approccio integrale alle soluzioni UX/Frontend.",
  },
  {
    name: "Massimiliano G.",
    title: "Owner ",
    company: "gm-pro.ch",
    image: "https://i.ibb.co/PGb8NYb/Screenshot-2024-08-22-at-14-15-09.png",
    body: "Concezione e lancio e-commerce in 40gg. After sales 24h 7/7 sull'ERP prescelto. Un supporto continuo in tutte le situazioni.",
  },
  {
    name: "Luigi F.",
    title: "Owner",
    company: "lusha-gmbh.ch",
    image: "https://i.ibb.co/ysd6xDX/Screenshot-2024-08-22-at-14-32-15.png",
    body: "Grazie a Northsouth la mia presenza digitale è ora assicurata e seguita in modo professionale. Personal branding e content management incluso.",
  },
];
---

<html>
  <head>
    <meta name="title" content="Northsouth - Soluzioni digitali a 360 gradi" />
    <meta
      name="description"
      content="Northsouth offre soluzioni digitali complete e innovative per il successo del tuo business, dall'analisi strategica allo sviluppo tecnologico su misura."
    />
    <meta
      name="keywords"
      content="Soluzioni digitali,Innovazione tecnologica,Sviluppo software,Analisi strategica,Trasformazione digitale,Marketing digitale,Consulenza IT,E-commerce,Sviluppo web,Gestione progetti,UX/UI design,Digital strategy,Business digitale,Servizi IT,Tecnologia su misura"
    />
    <!-- OG Image -->
    <meta property="og:image" content="https://i.ibb.co/w71YW8G/OG-Image.png" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JYJXYQEZ3Y"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-JYJXYQEZ3Y");
    </script>
  </head>
</html>

<Layout title="">
  <Container>
    <Hero />
    <Servizi />
    <div>
      <div class="relative flex overflow-hidden py-16">
        <div
          class="flex w-max animate-marquee [--duration:40s] hover:[animation-play-state:paused]">
          {
            [...items, ...items].map((item, index) => (
              <div class="h-full px-2.5">
                <div class="relative h-full w-[28rem] rounded-2xl border border-black/5 bg-white/5 px-8 py-6">
                  <div class="pb-4 font-light text-black/75">{item.body}</div>
                  <div class="mt-auto flex items-center gap-4">
                    <img src={item.image} class="h-12 w-12 rounded-full" />
                    <div class="flex flex-col text-sm">
                      <div class="text-black">{item.name}</div>
                      <div class="text-black/75">
                        {" "}
                        {item.title} |
                        <span class="font-bold"> {item.company}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <Logos />
    <Casestudies />
  </Container>
</Layout>

<style>
  .gradient {
    background: linear-gradient(to right, rgb(255, 0, 0), transparent 90%);
  }
  .animate-marquee {
    animation-delay: 2s;
  }
</style>

<script type="text/javascript">
  window.$crisp = [];
  window.CRISP_WEBSITE_ID = "727a3632-d1bc-44a3-9179-65f86310a145";
  (function () {
    d = document;
    s = d.createElement("script");
    s.src = "https://client.crisp.chat/l.js";
    s.async = 1;
    d.getElementsByTagName("head")[0].appendChild(s);
  })();
</script>
