---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Picture } from "astro:assets";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

// Import thumbnails
import software from "../../assets/thumbsHome/softwaregestionale.webp";
import gmpro from "../../assets/thumbsHome/gmpro.webp";
import badilatti from "../../assets/thumbsHome/badilatti.webp";
import scuolaguida from "../../assets/thumbsHome/scuolaguidalugano.webp";
import farmatouch from "../../assets/thumbsHome/farmatouch.webp";
import naranja from "../../assets/thumbsHome/naranja.webp";
import sepoy from "../../assets/thumbsHome/sepoy.webp";
import whirlpool from "../../assets/thumbsHome/whirlpool.webp";

// Filter case studies by language
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const publishedCaseStudies = await getCollection("casestudies", ({ data, slug }) => {
  const [postLang] = slug.split('/');
  return postLang === 'it' && !data.draft;
});

// Function to get the correct image based on company name
const getImageForCompany = (company) => {
  if (company.includes('Badilatti')) return badilatti;
  if (company.includes('dpstudio')) return software;
  if (company.includes('Farmatouch')) return farmatouch;
  if (company.includes('Naranja')) return naranja;
  if (company.includes('Sepoy')) return sepoy;
  if (company.includes('Whirlpool')) return whirlpool;
  if (company.includes('GMPro')) return gmpro;
  if (company.includes('Scuola Guida')) return scuolaguida;
  // Default case if no match
  return badilatti;
};
---

<Layout title="Casi di Studio">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Casi di Studio</Fragment>
      <Fragment slot="desc">
        Scopri come abbiamo aiutato le aziende a raggiungere i loro obiettivi digitali.
      </Fragment>
    </Sectionhead>

    <main class="mt-16">
      <ul class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        {publishedCaseStudies.map((caseStudy) => (
          <li class="bg-white rounded-lg shadow-md overflow-hidden">
            <a href={`/it/casestudies/${caseStudy.slug.split('/')[1]}`}>
              <Picture 
                src={getImageForCompany(caseStudy.data.company)} 
                alt={caseStudy.data.image && caseStudy.data.image.alt || `${caseStudy.data.company} project image`}
                width={400}
                height={300}
                class="w-full h-48 object-cover rounded-t-lg"
              />
              <div class="p-6">
                <h2 class="text-xl font-semibold text-gray-800 mb-2">
                  {caseStudy.data.company}
                </h2>
                <p class="text-gray-600 line-clamp-3">
                  {caseStudy.data.snippet}
                </p>
                <div class="mt-4 flex flex-wrap gap-2">
                  {/* {caseStudy.data.services.map((service) => (
                  <span class="inline-flex items-center rounded-md bg-black px-4 py-1 mb-2 mr-2 text-sm text-white ring-1 ring-inset ring-blue-700/10">
                      {service}
                    </span>
                  ))} */}
                </div>
              </div>
            </a>
          </li>
        ))}
      </ul>
    </main>
  </Container>
</Layout>
