---
// @ts-ignore
import Link from "./ui/link.astro";
import software from "../assets/software.png";
import gmpro from "../assets/gmpro.png";
import badilatti from "../assets/badilatti.png";
import scuolaguida from "../assets/scuolaguida.png";
import lusha from "../assets/lusha.png";

const caseStudies = [
  {
    company: "softwaregestionale.ch",
    services: [
      "solutions",
      "strategy"
    ],
    title: "DPStudio si affida a Northsouth per landings",
    description: "Nuovo funnel, SaaS landing page per pagina di presentazione gestionale softwaregestionale.ch",
    picture: software
  },
  {
    company: "Caffé Badilatti",
    services: [
      "strategy"
    ],
    title: "Caffe Badilatti UX E-Commerce redesign",
    description: "Redesign UX/UI di e-commerce badilatti su base di documentazione brand identity e richieste specifiche. ",
    picture: badilatti
  },
  {
    company: "GMPro Gmbh",
    services: [
      "solutions",
      "strategy"
    ],
    title: "GMPro: e-commerce da concezione a realizzazione",
    description: "E-commerce con ERP integrato, brand identity e product design (AutoCAD) in 50gg.",
    picture: gmpro
  },
  {
    company: "Scuola Guida Lugano",
    services: [
      "solutions",
      "strategy"
    ],
    title: "Redesign sito web, logo design, funnel social media e integrazione piattaforma booking",
    description: "Redesign sito web, logo design, funnel social media e integrazione piattaforma booking. ",
    picture: scuolaguida
  },
  {
    company: "LUSHA GmbH",
    services: [
      "solutions",
      "strategy"
    ],
    title: "Corporate Identity, logo, website, sales funnel",
    description: "Redesign sito web, logo design, funnel social media e integrazione piattaforma booking. ",
    picture: lusha
  }
];

---
<div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 mt-16 gap-16">
  {caseStudies.map((study, index) => (
    <div
      class="mt-12 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <a href="#">
        <img class="rounded-t-lg" src={study.picture.src} alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {study.title}
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          {study.description}
        </p>
        {study.services.map((service, index) => (
          <a
            href="#"
            class=`inline-flex mr-2 items-center px-3 py-2 text-sm font-medium text-center text-white bg-${service} rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800`
          >
            {service}
          </a>
        ))}
      </div>
    </div>
  ))}
</div>


<style>
.solutions {
	background-color: black;
}
.strategy {
	background-color: #4f46e5;
}
.knowledge {
	background-color: #0900a6;
}
</style>
