---
import lyke from "@assets/lyke.png";
import max from "@assets/max.png";
import luigi from "@assets/luigi.png";
import dpstudio from "@assets/dpstudio.webp"

const items = [
  {
    name: "Luca M.",
    title: "Marketing Manager",
    company: "dpstudio.ch",
    services: "Solutions",
    strategy: "Strategy",
    image: lyke,
    body: "Un servizio impeccabile: dall'idea al design, realizzazione rapida e su misura, con supporto continuo e senza intoppi.",
  },
  {
    name: "Massimiliano G.",
    title: "Owner ",
    company: "gm-pro.ch",
    services: "Solutions",
    strategy: "Strategy",
    image: max,
    body: "Concezione e lancio e-commerce in 40gg. After sales 24h 7/7 sull'ERP prescelto. Un supporto continuo in tutte le situazioni.",
  },
  {
    name: "Luigi F.",
    title: "Owner",
    company: "lusha-gmbh.ch",
    services: "Solutions",
    image: luigi,
    body: "Grazie a Northsouth la mia presenza digitale è ora assicurata e seguita in modo professionale. Personal branding e content management incluso.",
  },
];
---

<div class="mt-24">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">
      Referenze
    </h2>
  </div>
</div>
<section class="relative isolate overflow-hidden bg-white px-6 pb-24 lg:px-8">
  <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>
  <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
  <div class="mx-auto max-w-2xl lg:max-w-4xl">
    <img class="mx-auto h-12 opacity-30" alt="" src={dpstudio.src}>
    <figure class="mt-10">
        <p class="text-center text-gray-400 font-thin leading-tight sm:text-2xl">Un servizio impeccabile: dall'idea al design<br/> realizzazione rapida e su misura, con supporto continuo e senza intoppi.</p>
      <figcaption class="mt-10">
        <img class="mx-auto h-[60px] w-[60px] rounded-full" src={lyke.src}>
        <div class="mt-4 flex items-center justify-center space-x-3 text-base">
          <div class="font-semibold text-gray-900">L. Mennella</div>
          <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
            <circle cx="1" cy="1" r="1" />
          </svg>
          <div class="text-gray-600">Marketing Manager in dpstudio</div>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
<div class="relative flex overflow-hidden hidden sm:block">
  <div
    class="flex w-max animate-marquee [--duration:80s] hover:[animation-play-state:paused]">
    {
      [...items, ...items].map((item, index) => (
        <div class="h-full px-2.5">
          <div class="relative h-full w-[28rem] rounded-2xl border border-black/5 bg-white/5 px-8 py-6">
            <div class="pb-2 font-light text-black/75">{item.body}</div>
            <div class="pb-2">
              {item.services === "Solutions" && (
                <span class="inline-flex items-center rounded-md bg-black px-2 py-1  mb-2 mr-2 text-xs font-medium text-white ring-1 ring-inset ring-blue-700/10">
                  <span class="font-bold tracking-tight text-white dark:text-white">
                    Northsouth
                  </span>
                  <span class="ml-1">{" " + item.services}</span>
                </span>
              )}
              {item.strategy === "Strategy" && (
                <span class="inline-flex items-center rounded-md bg-[#4f46e5] px-2 py-1  mb-2 mr-2 text-xs font-medium text-white ring-1 ring-inset ring-blue-700/10">
                  <span class="font-bold tracking-tight text-white dark:text-white">
                    Northsouth
                  </span>
                  <span class="ml-1">{" " + item.strategy}</span>
                </span>
              )}
            </div>
            <div class="mt-auto flex items-center gap-4">
              <img src={item.image.src} class="h-12 w-12 rounded-full" />
              <div class="flex flex-col text-sm">
                <div class="text-black">{item.name}</div>
                <div class="text-black/75">
                  {" "}
                  {item.title} |<span class="font-bold"> {item.company}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
